.mainheader {
   width: 100%;
   height: 4rem;
   display: flex;
   /* align-items: center; */
   background: none;
   padding: 0 1rem;
   z-index: 5;
 }
 
 main {
   margin-top: 5rem;
 }
 
 @media (min-width: 768px) {
   .mainheader {
     justify-content: space-between;
   }
 }