.blog {
   background-color: white;
   border: 1px solid black;
   margin: 0 auto;
   width: 750px;
}

.blog-container {
   display: flex;
   flex-flow: column nowrap;
   width: 1000px;
 }

 .no-link {
   text-decoration: none;
 }
 
 .no-link:visited {
   color: black;
 }